<p id="notice"><%= notice %></p>

<h1>Functionary Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @functionary_types.each do |functionary_type| %>
      <tr>
        <td><%= functionary_type.name %></td>
        <td><%= link_to 'Show', functionary_type %></td>
        <td><%= link_to 'Edit', edit_functionary_type_path(functionary_type) %></td>
        <td><%= link_to 'Destroy', functionary_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Functionary Type', new_functionary_type_path %>
