<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_appointment %>
    <%= form.number_field :id_appointment %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_field :observations %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :app_date %>
    <%= form.datetime_select :app_date %>
  </div>

  <div class="field">
    <%= form.label :id_diagnoses %>
    <%= form.text_field :id_diagnoses %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
