<p id="notice"><%= notice %></p>

<p>
  <strong>Id appointment:</strong>
  <%= @appointment.id_appointment %>
</p>

<p>
  <strong>Area:</strong>
  <%= @appointment.area %>
</p>

<p>
  <strong>App date:</strong>
  <%= @appointment.app_date %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @appointment.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Id patient:</strong>
  <%= @appointment.id_patient %>
</p>

<p>
  <strong>Id diagnoses:</strong>
  <%= @appointment.id_diagnoses %>
</p>

<%= link_to 'Back', 
  :controller => 'appointment_patients',
  :action => 'index',
  :id => @id_patient_actual %>