<p id="notice"><%= notice %></p>

<p>
  <strong>Id appointment:</strong>
  <%= @appointment.id_appointment %>
</p>

<p>
  <strong>Area:</strong>
  <%= @appointment.area %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @appointment.observations %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>App date:</strong>
  <%= @appointment.app_date %>
</p>

<p>
  <strong>Id diagnoses:</strong>
  <%= @appointment.id_diagnoses %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
