<%= form_with(model: functionary, local: true) do |form| %>
  <% if functionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(functionary.errors.count, "error") %> prohibited this functionary from being saved:</h2>

      <ul>
      <% functionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :init_date %>
    <%= form.date_select :init_date, start_date :1950, end_date :2018 %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <select name="area">
      <option value="Administrativa" selected="selected">Administrativa</option>
      <option value="Emergencias">Emergencias</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Oncologia">Oncologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ortopedia">Ortopedia</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :identification %>
    <%= form.number_field :identification %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <select name="type">
      <option value="Doctor" selected="selected">Doctor</option>
      <option value="Secretario">Secretario</option>
      <option value="Administrador">Administrador</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :institution %>
    <select name="institution">
      <option value="EBAIS" selected="selected">EBAIS</option>
      <option value="Hospital">Hospital</option>
      <option value="Clinica">Clinica</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
