<p id="notice"><%= notice %></p>

<h1>Functionaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Init date</th>
      <th>Area</th>
      <th>Identification</th>
      <th>Type</th>
      <th>Institution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @functionaries.each do |functionary| %>
      <tr>
        <td><%= functionary.name %></td>
        <td><%= functionary.init_date %></td>
        <td><%= functionary.area %></td>
        <td><%= functionary.identification %></td>
        <td><%= functionary.type %></td>
        <td><%= functionary.institution %></td>
        <td><%= link_to 'Show', functionary %></td>
        <td><%= link_to 'Edit', edit_functionary_path(functionary) %></td>
        <td><%= link_to 'Destroy', functionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Functionary', new_functionary_path %>
