<%= form_with(model: illness_diagnosis, local: true) do |form| %>
  <% if illness_diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(illness_diagnosis.errors.count, "error") %> prohibited this illness_diagnosis from being saved:</h2>

      <ul>
      <% illness_diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :symptoms %>
    <%= form.text_field :symptoms %>
  </div>

  <div class="field">
    <%= form.label :treatments %>
    <%= form.text_field :treatments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
