<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @illness_diagnosis.name %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @illness_diagnosis.symptoms %>
</p>

<p>
  <strong>Treatments:</strong>
  <%= @illness_diagnosis.treatments %>
</p>

<%= link_to 'Edit', edit_illness_diagnosis_path(@illness_diagnosis) %> |
<%= link_to 'Back', illness_diagnoses_path %>
