<p id="notice"><%= notice %></p>

<h1>Attention Centers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Place</th>
      <th>Capacity</th>
      <th>Center type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attention_centers.each do |attention_center| %>
      <tr>
        <td><%= attention_center.code %></td>
        <td><%= attention_center.name %></td>
        <td><%= attention_center.place %></td>
        <td><%= attention_center.capacity %></td>
        <td><%= attention_center.center_type %></td>
        <td><%= link_to 'Show', attention_center %></td>
        <td><%= link_to 'Edit', edit_attention_center_path(attention_center) %></td>
        <td><%= link_to 'Destroy', attention_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attention Center', new_attention_center_path %>
