<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_patient %>
    <%= form.number_field :id_patient %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, start_year: 1900, end_year: 2018 %>
  </div>

  <div class="field">
    <%= form.label :blood %>
    <select name="blood">
      <option value="O-" selected="selected">O-</option>
      <option value="O+">O+</option>
      <option value="A-">A-</option>
      <option value="A+">A+</option>
      <option value="B-">B-</option>
      <option value="B+">B+</option>
      <option value="AB-">AB-</option>
      <option value="AB+">AB+</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :residence %>
    <%= form.text_field :residence %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
