<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Id patient</th>
      <th>Name</th>
      <th>Birth date</th>
      <th>Blood</th>
      <th>Nationality</th>
      <th>Residence</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id_patient %></td>
        <td><%= patient.name %></td>
        <td><%= patient.birth_date %></td>
        <td><%= patient.blood %></td>
        <td><%= patient.nationality %></td>
        <td><%= patient.residence %></td>
        <td><%= patient.telephone %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<strong><h3><%= link_to "New appointment", new_appointment_path, class: "btn btn-primary" %> </h3></strong>
<strong><h3><%= link_to "Close", logins_path %> </h3></strong>

<br>
