<%= form_with(model: secretary, local: true) do |form| %>
  <% if secretary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secretary.errors.count, "error") %> prohibited this secretary from being saved:</h2>

      <ul>
      <% secretary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :area %>
    <select name="area">
      <option value="Administrativa" selected="selected">Administrativa</option>
      <option value="Emergencias">Emergencias</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Oncologia">Oncologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ortopedia">Ortopedia</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :app_date %>
    <%= form.datetime_select :app_date %>
  </div>

  <div class="field">
    <%= form.label :observation %>
    <%= form.text_field :observation %>
  </div>

  <div class="field">
    <%= form.label :id_patient %>
    <%= form.number_field :id_patient %>
  </div>

  <div class="actions">
    <%= form.submit "New appointment" %>
  </div>
<% end %>
