<p id="notice"><%= notice %></p>

<h1>Diagnose</h1>

<p>
  <strong>Id diagnose:</strong>
  <%= @diagnosis.id_diagnose %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diagnosis.name %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @diagnosis.symptoms %>
</p>

<p>
  <strong>Level:</strong>
  <%= @diagnosis.level %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @diagnosis.observations %>
</p>

<p>
  <strong>Id treatments:</strong>
  <%= @diagnosis.id_treatments %>
</p>

<br>
<h1>Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id treatment</th>
      <th>Type</th>
      <th>Dosis</th>
      <th>Total</th>
      <th>Secondary effects</th>
      <th>Days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.name %></td>
        <td><%= treatment.id_treatment %></td>
        <td><%= treatment.type %></td>
        <td><%= treatment.dosis %></td>
        <td><%= treatment.total %></td>
        <td><%= treatment.secondary_effects %></td>
        <td><%= treatment.days %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
