<%= form_with(model: treatment, local: true) do |form| %>
  <% if treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(treatment.errors.count, "error") %> prohibited this treatment from being saved:</h2>

      <ul>
      <% treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <select name="status">
      <option value="Medicamento" selected="selected">Medicamento</option>
      <option value="Cirugia">Cirugia</option>
      <option value="Curacion">Curacion</option>
      <option value="Sutura">Sutura</option>
      <option value="Radiografia">Radiografia</option>
      <option value="Ultrasonido">Ultrasonido</option>
      <option value="Otros">Otros</option>
    </select> 
  </div>

  <div class="field">
    <%= form.label :dosis %>
    <%= form.text_field :dosis %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="field">
    <%= form.label :secondary_effects %>
    <%= form.text_field :secondary_effects %>
  </div>

  <div class="field">
    <%= form.label :days %>
    <%= form.number_field :days %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
