<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treatment.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @treatment.type %>
</p>

<p>
  <strong>Dosis:</strong>
  <%= @treatment.dosis %>
</p>

<p>
  <strong>Total:</strong>
  <%= @treatment.total %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
