<p id="notice"><%= notice %></p>

<h1>Administrators</h1>

<table>
  <thead>
    <tr>
      <th>Treatment Type</th>
      <th>|  Amount Assigned  |</th>
      <th>  Average Price </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.treatment %></td>
        <td><%= administrator.amount %></td>
        <td><%= administrator.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>|  Illness Range  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.treatment %></td>
        <td><%= administrator.amount %></td>
        <td><%= administrator.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Illness</th>
      <th>|  Amount  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.treatment %></td>
        <td><%= administrator.amount %></td>
        <td><%= administrator.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>|  Amount Appointments  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.treatment %></td>
        <td><%= administrator.amount %></td>
        <td><%= administrator.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<form action = "/appointment_patients/index2" >
  <br>
  <input type="hidden" name="id" value="<%= @id_patient_actual %>" >
  <br>
  Please enter initial date. (yyyy-mm-dd)
  <br>
  <input type="text" name="initial_date">
  <br>  
  Please enter final date. (yyyy-mm-dd)
  <br>  
  <input type="text" name="final_date">
  <br>
  <input type="submit" value="Filter by date"/>
</form>

<br>

<form action = "/appointment_patients/index3" >
  <br>
  <input type="hidden" name="id" value="<%= @id_patient_actual %>">
  <br>
  Please enter status of appointment to filter
  <br>
  <select name="status">
      <option value="Registrada" selected="selected">Registrada</option>
      <option value="Cancelada por paciente">Cancelada por paciente</option>
      <option value="Cancelada por centro medico">Cancelada por centro medico</option>
      <option value="Asignada">Asignada</option>
      <option value="Realizada">Realizada</option>
    </select>  
  <input type="submit" value="Filter by status"/>
</form>

<br>

<form action = "/appointment_patients/index4">
  <br>
  <input type="hidden" name="id" value="<%= @id_patient_actual %>">
  <br>
  Please enter area of appointment to filter
  <br>
  <select name="area">
      <option value="Administrativa" selected="selected">Administrativa</option>
      <option value="Emergencias">Emergencias</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Oncologia">Oncologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ortopedia">Ortopedia</option>
    </select> 
  <input type="submit" value="Filter by area"/>
</form>

<br>

<form action = "/appointment_patients/index4">
  <br>
  <input type="hidden" name="id" value="<%= @id_patient_actual %>">
  <br>
  Please enter ID patient to filter
  <br>
  <input type="text" name="id_patient">
  <br>  
  <input type="submit" value="Filter by ID Patient"/>
</form>

<br>

<%= link_to 'Log Out', logins_path %>
