<p id="notice"><%= notice %></p>

<h1>Administrators</h1>

<form action = "/administrators/refresh" >
  <input type="submit" value="Refresh"/>
</form>

<table>
  <thead>
    <tr>
      <th>Treatment Type</th>
      <th>|  Amount Assigned  |</th>
      <th>  Average Price </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_treatments.each do |assi_tre| %>
      <tr>
        <td><%= assi_tre.type %></td>
        <td><%= assi_tre.amount %></td>
        <td><%= assi_tre.average %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>|  Illness Range  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @range_diagnoses.each do |r_d| %>
      <tr>
        <td><%= r_d.patient %></td>
        <td><%= r_d.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Illness</th>
      <th>|  Amount  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @disease_stadistics.each do |d_s| %>
      <tr>
        <td><%= d_s.illness %></td>
        <td><%= d_s.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>|  Amount Appointments  |</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @amount_apps.each do |a_a| %>
      <tr>
        <td><%= a_a.patient %></td>
        <td><%= a_a.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form action = "/administrators/range_date" >
  Please enter initial date. (yyyy-mm-dd)
  <br>
  <input type="text" name="initial_date">
  <br>  
  Please enter final date. (yyyy-mm-dd)
  <br>  
  <input type="text" name="final_date">
  <br>
  <input type="submit" value="Filter by date"/>
</form>

<br>

<form action = "/administrators/status_filter" >
  Please enter status of appointment to filter:
  <br>
  <select name="status">
      <option value="Registrada" selected="selected">Registrada</option>
      <option value="Cancelada por paciente">Cancelada por paciente</option>
      <option value="Cancelada por centro medico">Cancelada por centro medico</option>
      <option value="Asignada">Asignada</option>
      <option value="Realizada">Realizada</option>
    </select>  
  <input type="submit" value="Filter by status"/>
</form>

<br>

<form action = "/administrators/area_filter">
  Please enter area of appointment to filter:
  <br>
  <select name="area">
      <option value="Administrativa" selected="selected">Administrativa</option>
      <option value="Emergencias">Emergencias</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Oncologia">Oncologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ortopedia">Ortopedia</option>
    </select> 
  <input type="submit" value="Filter by area"/>
</form>

<br>

<form action = "/administrators/patient_filter">
  Please enter ID patient to filter:
  <br>
  <input type="text" name="patient">
  <br>  
  <input type="submit" value="Filter by ID Patient"/>
</form>

<br>

<%= link_to 'Log Out', logins_path %>
