<%= form_with(model: patient_diagnosis, local: true) do |form| %>
  <% if patient_diagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient_diagnosis.errors.count, "error") %> prohibited this patient_diagnosis from being saved:</h2>

      <ul>
      <% patient_diagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_patient %>
    <%= form.number_field :id_patient %>
  </div>

  <div class="field">
    <%= form.label :diagnose_id %>
    <%= form.number_field :diagnose_id %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :observation %>
    <%= form.text_field :observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
